* {
	box-sizing: border-box;
}

.low{
	background-color: #fbff00;
}

.middle{
	background-color: #ff8800;
}

.high{
	background-color: #ff0000;
}

html {
	font-size: 20px;
	text-shadow: 1px 1px 1px #000000;
}
body {
	margin: 0;
	padding: 30px;
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: #000000;
	color: #FFF;
	font-family: 'Roboto',sans-serif;
}

a, a:visited{
	color:yellowgreen;
}

main {
	background-color: #494949;
	padding: 20px;
	width: 400px;;
}

form{
	display: flex;
	margin-bottom: 10px;
    justify-content: center;
}

form input {
	display: block;
	width:35%;
	font-size: 1rem;
	padding: 5px;
	align-items: stretch;
    margin-left: 5px;
}

form button {
	width:100px;
	display: block;
	font-size: .7rem;
    margin-left: 5px;
	border: none;
    border-radius: 0 5px 5px 0 ;
}

table{
	width: 48%;
	table-layout:fixed;
	border-collapse: collapse;
    margin: 0 auto ;
}

td{
	border-bottom: 1px solid rgba(255,255,255,.3);
	padding: 10px 0;
    width: 100%;
}

tr:hover td{
	background-color: rgba(255,255,255,.1);
}


td:nth-child(1){
	width: 24px;
}

td:nth-child(3){
	width: 72px;
	font-size: 12px;
	text-align: center;
}

td:nth-child(2){
	cursor: default;
}

td:nth-child(4){
	width: 36px;
}

tr.done td:nth-child(2){
	text-decoration: line-through;
}

table input[type=checkbox]{
	cursor: pointer;
}

table i{
	cursor: pointer;
	opacity: .8;
}

table i:hover{
	opacity: 1;
}
